<button class="btn btn-primary" [disabled]="!check" (click)="onCreateServer()">
  Add server
</button>

<p [innerText]="check">{{ check }}</p>
<input type="text" class="form-control" (input)="onUpdateServerName($event)" />

<div>
  <input type="text" class="form-control" [(ngModel)]="serverEvent" />
</div>

<div *ngFor="let service of servers">
  <span *ngIf="serverCreated; else noServer">
    {{ serverStatus }}
  </span>
</div>

<ng-template #noServer>
  <p>No server was created</p>
</ng-template>
